{% extends 'base.html' %}

{% block head %}
	<div class="thread">
		<h1>МК.Ч (мкач, белкач) - это система форумов, где можно общаться быстро и свободно. Все форумы (кроме /Б/елки), а их список находится снизу, имеют собственную чётко ограниченную тематику. Словом, всё, что не запрещено правилами отдельно взятого форума и относится к его тематике, на этом форуме разрешено.</h1>
	</div>
{% endblock %}

{% block body %}
	<h1>Список открытых досок</h1>
	{% for board in boards %}
		<div class="comment">
			<a href="/boards/board/{{board}}">{{board}}</a>
		</div>
	{% endfor %}
{% endblock %}
